<style>
    /* Add some padding on document's body to prevent the content
    to go underneath the header and footer */
    body{        
        padding-top: 60px;
        padding-bottom: 40px;
    }
    .container{
        width: 100%;
        margin: 0 auto; /* Center the DIV horizontally */
    }
    .fixed-header, .fixed-footer{
        width: 100%;
        position: fixed;        
        background:chocolate;
        padding: 10px 0;
        color: #fff;
    }
    .fixed-header{
        top: 0;
    }
    .fixed-footer{
        bottom: 0;
        text-align: center;
    }    
    /* Some more styles to beutify this example */
    nav a{
        color:coral;
        text-decoration: none;
        padding: 7px 60px;
        display: inline-block;
        
    }
    .container p{
        line-height: 200px; /* Create scrollbar to test positioning */
    }
    

    #header
 {
 min-height: 200px;
 background: url("../images/header-img.jpg.jpg");
 background-size:cover;
 background-position: center;
 position: relative;
 }
 .flashy{

    color: red;
    font-style: italic;

}

.best{
font-weight: 100;
font-family: sans-serif;
font-size: medium;
color: sienna;


}
</style>